@import "default.styl"
/*************************样式**************************/
.d-inline-block
  display inline-block

.fright
  float right

.flex-1
  flex 1

.fjc-start
  justify-content flex-start

.fjc-end
  justify-content flex-end

.fjc-center
  justify-content flex-end

.fjc-around
  justify-content space-around

.fjc-between
  justify-content space-between

.fai-start
  align-items flex-start

.fai-end
  align-items flex-end

.fai-center
  align-items center

.fai-baseline
  align-items baseline

.fai-stretch
  align-items stretch

.fac-start
  align-content flex-start

.fac-end
  align-content flex-end

.fac-center
  align-content center

.fac-between
  align-content space-between

.fac-around
  align-content space-around

.fas-start
  align-self flex-start

.fas-end
  align-self flex-end

.fas-center
  align-self center

.fas-stretch
  align-self stretch

.flex
  display flex

.flex-column
  display flex
  flex-direction column

.flex-wrap
  flex-wrap wrap

.flex-wrap-no
  flex-wrap nowrap

.flex-wrap-reverse
  flex-wrap wrap-reverse

/*flex布局居中*/
.flex-center
  display flex
  align-items center
  justify-content center

.flex-column
  display flex
  flex-direction column

/*显示省略号*/
.ellipsis
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

/**************************函数/mixin*************************/
wh(w = auto, h = auto)
  width w
  height h

/**************************动画*************************/
@keyframes fade-in {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

/**************************一些尺寸上的style*************************/

.col-1 {
  width: 8.33333%
}

.col-2 {
  width: 16.66667%
}

.col-3 {
  width: 25%
}

.col-4 {
  width: 33.33333%
}

.col-5 {
  width: 41.66667%
}

.col-6 {
  width: 50%
}

.col-7 {
  width: 58.33333%
}

.col-8 {
  width: 66.66667%
}

.col-9 {
  width: 75%
}

.col-10 {
  width: 83.33333%
}

.col-11 {
  width: 91.66667%
}

.col-12 {
  width: 100%
}



.box-shadow {
  box-shadow: 0 1px 1px rgba(27, 31, 35, 0.1) !important
}

.box-shadow-medium {
  box-shadow: 0 1px 5px rgba(27, 31, 35, 0.15) !important
}

.box-shadow-large {
  box-shadow: 0 1px 15px rgba(27, 31, 35, 0.15) !important
}

.box-shadow-extra-large {
  box-shadow: 0 10px 50px rgba(27, 31, 35, 0.07) !important
}
