@import "default.styl"
/*************************样式**************************/
.d-inline-block
  display inline-block

.fright
  float right

.flex
  display flex

/*flex布局居中*/
.flex-center
  display flex
  align-items center
  justify-content center

.flex-column
  display flex
  flex-direction column

/*显示省略号*/
.ellipsis
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

/**************************函数/mixin*************************/
wh(w = auto, h = auto)
  width w
  height h
